{% extends 'base.html' %}

{% block content %}
<!-- Container (Services Section) -->
<div id="services-cont" class="container-fluid text-center pt-5">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br /><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="logo-small ico"><i class="fas fa-power-off"></i></span>
            <h4>POWER</h4>
            <p>Power to Farmers & People</p>
        </div>
        <div class="col-sm-4">
            <span class="logo-small ico ico-red"><i class="fas fa-heart    "></i></span>
            <h4>LOVE</h4>
            <p>Brought to you with Love!</p>
        </div>
        <div class="col-sm-4">
            <span class="logo-small ico ico-brown"><i class="fas fa-lock    "></i></span>
            <h4>JOB DONE</h4>
            <p>Hassle-Free work</p>
        </div>
    </div>
    <br /><br />
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="logo-small ico ico-green"><i class="fas fa-leaf    "></i></span>
            <h4>GREEN</h4>
            <p>Natural / Organic produce</p>
        </div>
        <div class="col-sm-4">
            <span class="logo-small ico ico-blue"><i class="fas fa-certificate    "></i></span>
            <h4>CERTIFIED</h4>
            <p>Verified poducts</p>
        </div>
        <div class="col-sm-4">
            <span class="logo-small ico"><i class="fas fa-wrench    "></i></span>
            <h4 style="color:#303030;">HARD WORK</h4>
            <p>Ambitious, visionary guyz</p>
        </div>
    </div>
</div>
{% endblock %}