{% extends 'base.html' %}

{% block content %}
<div class="container border my-5">
    <div class="row">
        <div class="col-md-8">

            <h1>{{ product.title }}</h1>

            <small>

                {{ product.created_on.date }} |&nbsp;

                Category:&nbsp;

                {% for category in product.categories.all %}

                <a href="/product/{{category.name}}">

                    {{ category.name }}

                </a>&nbsp;

                {% endfor %}

            </small>

            <p>{{ product.body | linebreaks }}</p>

            <img class="image-fluid" src="{{product.image_src}}" alt="{{product.name}}"
                style="width:100%; height: 480px;">

        </div>

        <div class="col-md-4 d-flex flex-column justify-content-center">
            <p>Description : {{product.description}}</p>
            <p>Stock :
                {% if product.stock != 0 %}
                In Stock!
                {% else %}
                Out of Stock!
                {% endif %}
            </p>
            <p>Price : {{product.price}}</p>
            <!-- <form action="/product/{{category.name}}/{{ product.pk }}/" method="post"> -->
            <form method="POST">
                {% csrf_token %}
                <!-- <div class="form-group">
                    Qty : {{ form.quantity }}
                </div> -->
                {{ form.as_p }}
                <input type="submit" class="btn btn-md btn-primary" value="Add to cart &nbsp;">
                <!-- <a class="btn btn-md btn-primary" type="submit" style="color: white;">Add to cart &nbsp;<i
                        class="fas fa-shopping-cart    "></i></a> -->
                <!-- on submit(POST req) all the info should go into the product view and then call the add to cart func -->
            </form>
            {% if flag == 1 %}
            <div class="alert alert-success mt-3">
                <strong>Success!</strong> {{msg}}.
            </div>
            {% elif flag == 2 %}
            <div class="alert alert-danger mt-3">
                <strong>Whoops!</strong> {{msg}}.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}